    
                                                <ul class="o-cols">
                                                    <li class="o-cols__item">
                                                        <div class="c-doctorbox">
                                                            <div class="c-doctorbox__left">
                                                                <img src=<%= require("./img/photos/barbara.jpg") %> alt="barbara" width="88" height="88">
                                                                
                                                                <a href="#" class="o-btn o-btn--small o-btn--violet">Umów wizytę</a>
                                                            </div>
                                                            
                                                            <div class="c-doctorbox__right">
                                                                <h5 class="o-header o-header--fourth">dr n.med. Barbara Stec-Szczęsna</h5>
                                                                <p class="specialty">Psychiatra Dorośli i Młodzież od 16 r.ż.</p>
                                                                
                                                                <div class="o-rating">
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                </div>
                                                                
                                                                <div class="c-doctorbox__terms">
                                                                    <h5 class="o-header o-header--fourth">Termin na dziś:</h5>
                                                                    
                                                                    <div class="terms">
                                                                        <span>8:00</span> <span>11:00</span> <span>12:00</span> <span>13:00</span> 
                                                                        <span>14:00</span> <span>15:00</span> <span>16:00</span> <span>17:00</span> 
                                                                        
                                                                        <a href="#">kolejny termin</a>   
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    
                                                    <li class="o-cols__item">
                                                        <div class="c-doctorbox">
                                                            <div class="c-doctorbox__left">
                                                                <img src=<%= require("./img/photos/malgorzata.jpg") %> alt="" width="88" height="88">
                                                                
                                                                <a href="#" class="o-btn o-btn--small o-btn--violet">Umów wizytę</a>
                                                            </div>
                                                            
                                                            <div class="c-doctorbox__right">
                                                                <h5 class="o-header o-header--fourth">dr Małgorzata Włoczewska</h5>
                                                                <p class="specialty">Psychiatra Dzieci i Młodzieży</p>
                                                                
                                                                <div class="o-rating">
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                </div>
                                                                
                                                                <div class="c-doctorbox__terms">
                                                                    <h5 class="o-header o-header--fourth">Termin na dziś:</h5>
                                                                    
                                                                    <div class="terms">
                                                                        <span>8:00</span> <span>11:00</span> <span>12:00</span> <span>13:00</span> 
                                                                        <span>14:00</span> <span>15:00</span> <span>16:00</span> <span>17:00</span> 
                                                                        
                                                                        <a href="#">kolejny termin</a>   
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    
                                                    <li class="o-cols__item">
                                                        <div class="c-doctorbox">
                                                            <div class="c-doctorbox__left">
                                                                <img src=<%= require("./img/photos/iwona.jpg") %> alt="" width="88" height="88">
                                                                
                                                                <a href="#" class="o-btn o-btn--small o-btn--violet">Umów wizytę</a>
                                                            </div>
                                                            
                                                            <div class="c-doctorbox__right">
                                                                <h5 class="o-header o-header--fourth">dr Iwona Tkaczuk</h5>
                                                                <p class="specialty">Psychiatra Dzieci i Młodzieży</p>
                                                                
                                                                <div class="o-rating">
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                </div>
                                                                
                                                                <div class="c-doctorbox__terms">
                                                                    <h5 class="o-header o-header--fourth">Termin na dziś:</h5>
                                                                    
                                                                    <div class="terms">
                                                                        <span>8:00</span> <span>11:00</span> <span>12:00</span> <span>13:00</span> 
                                                                        <span>14:00</span> <span>15:00</span> <span>16:00</span> <span>17:00</span> 
                                                                        
                                                                        <a href="#">kolejny termin</a>   
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                    
                                                    <li class="o-cols__item">
                                                        <div class="c-doctorbox">
                                                            <div class="c-doctorbox__left">
                                                                <img src=<%= require("./img/photos/anna.jpg") %> alt="" width="88" height="88">
                                                                
                                                                <a href="#" class="o-btn o-btn--small o-btn--violet">Umów wizytę</a>
                                                            </div>
                                                            
                                                            <div class="c-doctorbox__right">
                                                                <h5 class="o-header o-header--fourth">dr Anna Sierakowska</h5>
                                                                <p class="specialty">Psychiatra Dorosłych oraz Młodzieży od 14 r.ż.</p>
                                                                
                                                                <div class="o-rating">
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                    <i class="icon-star"></i>
                                                                </div>
                                                                
                                                                <div class="c-doctorbox__terms">
                                                                    <h5 class="o-header o-header--fourth">Termin na dziś:</h5>
                                                                    
                                                                    <div class="terms">
                                                                        <span>8:00</span> <span>11:00</span> <span>12:00</span> <span>13:00</span> 
                                                                        <span>14:00</span> <span>15:00</span> <span>16:00</span> <span>17:00</span> 
                                                                        
                                                                        <a href="#">kolejny termin</a>   
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
    
