
        <footer class="c-footer">
            <div class="o-section">
                <div class="o-wrap">
                
                    <div class="o-cols">
                        <div class="o-cols__item">
                            <a href="index.html" class="o-logo">
                                <img src=<%= require("./img/logo-psychomedic--white.svg") %> alt="PsychoMEDIC.pl" width="200" height="36">
                            </a>
                            
                            <% include phones %>
                            
                            <div class="c-footer__social">

                                    <a href="#">
                                        <i class="icon-facebook"></i>
                                        <span>Poleć nas na FB</span>
                                    </a>
                                
                                
                                    <a href="#">
                                        <i class="icon-googleplus"></i>
                                        <span>Poleć nas na G+</span>
                                    </a>

                            </div>
                            
                            <nav class="c-footer__nav">
                                <ul>
                                    <li>
                                        <a href="#">Mapa strony</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">Regulamin</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">Polityka prywatności</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">Polityka cookies</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        
                        <div class="o-cols__item">
                            <h5 class="o-header o-header--fourth">Psychomedic Warszawa</h5>
                            
                            <address>
                                <p>
                                    <strong>PSYCHOMEDIC CENTRUM – OCHOTA</strong>
                                </p>
                                <p>ul. Filtrowa 62</p>
                                <p>e-mail: <a href="mailto:ochota@psychomedic.pl">ochota@psychomedic.pl</a></p>
                            </address>
                                
                            <address>
                                <p>
                                    <strong>PSYCHOMEDIC URSYNÓW – NATOLIN</strong>
                                </p>
                                <p>ul. Lanciego 19 lok. 135</p>
                                <p>e-mail: <a href="mailto:kontakt@psychomedic.pl">kontakt@psychomedic.pl</a></p>
                            </address>
                                
                            <address>
                                <p>
                                    <strong>PSYCHOMEDIC OCHOTA – BIAŁOBRZESKA</strong>
                                </p>
                                <p>ul. Białobrzeska 40A</p>
                                <p>e-mail <a href="mailto:bialobrzeska@psychomedic.pl">bialobrzeska@psychomedic.pl</a></p>
                            </address>
                                
                            <address>
                                <p>
                                    <strong>PSYCHOMEDIC URSYNÓW – KABATY</strong>
                                </p>
                                <p>al. KEN/Przy Bażantarni 11</p>
                                <p>e-mail: <a href="mailto:kabaty@psychomedic.pl">kabaty@psychomedic.pl</a></p>
                            </address>
                        </div>
                        
                        <div class="o-cols__item">
                            <h5 class="o-header o-header--fourth">&nbsp;</h5>
                            
                            <address>
                                <p>
                                    <strong>PSYCHOMEDIC PRAGA PŁN</strong>
                                </p>
                                <p>Wileńska 37/39</p>
                                <p>e-mail: <a href="mailto:pragapln@psychomedic.pl">pragapln@psychomedic.pl</a></p>
                            </address>
                                
                            <address>
                                <p>
                                    <strong>PSYCHOMEDIC BIELANY</strong>
                                </p>
                                <p>Kasprowicza 48</p>
                                <p>e-mail: <a href="mailto:bielany@psychomedic.pl">bielany@psychomedic.pl</a></p>
                            </address>
                                
                            <address>
                                <p>
                                    <strong>PSYCHOMEDIC PRAGA POŁUDNIE</strong>
                                </p>
                                <p>ul. Grochowska 217 lok. U3</p>
                                <p>e-mail: <a href="mailto:pragapld@psychomedic.pl">pragapld@psychomedic.pl</a></p>
                            </address>
                        </div>
                        
                        <div class="o-cols__item">
                            <div>
                                <h5 class="o-header o-header--fourth">Psychomedic Łódź</h5>
    
                                <address>
                                    <p>
                                        <strong>PSYCHOMEDIC łÓDŹ – CENTRUM</strong>
                                    </p>
                                    <p>Al. Kościuszki 13</p>
                                    <p>e-mail: <a href="mailto:lodz@psychomedic.pl">lodz@psychomedic.pl</a></p>
                                </address>
                            </div>
                        
                            <div class="c-footer__dotpay">
                                <div>
                                    <h5 class="o-header o-header--fourth">
                                        <a href="#">Poszukujemy lokali</a>
                                    </h5>
                                    
                                    <img src=<%= require("./img/assets/dotpay.png") %> alt="dotpay" width="270" height="67">
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </footer>


        <a href="#" class="c-messenger"></a>
