
        <div class="c-nav" id="nav">
            <div class="o-wrap">
                <nav class="c-nav__content js-nav-content">
                    <ul class="c-nav__list js-menu">
                        <li class="js-parent">
                            <a href="#">Leczymy</a>
                            
                            <div class="c-nav__submenu">
                                <% include submenu-col %>
                                
                                <div class="oval">
                                    <div class="shape"></div>
                                </div>
                                
                                <i class="icon-plaster"></i>
                            </div>
                        </li>
                        
                        <li class="js-parent">
                            <a href="#">Specjaliści</a>
    
                            <div class="c-nav__submenu">
                                <% include submenu-col %>
    
                                <% include submenu-col %>
                                
                                <div class="oval">
                                    <div class="shape"></div>
                                </div>
                                
                                <i class="icon-doctor"></i>
                            </div>
                        </li>
                        
                        <li class="js-parent">
                            <a href="#">Oferta</a>
                            
                            <div class="c-nav__submenu">    
                                <% include submenu-col %>
                                
                                <div class="oval">
                                    <div class="shape"></div>
                                </div>
                                
                                <i class="icon-plan"></i>
                            </div>
                        </li>
                        
                        <li class="js-parent">
                            <a href="#">Szkolenia</a>
                            
                            <div class="c-nav__submenu">
                            
                                <% include submenu-col %>
    
                                <% include submenu-col %>
                                
                                <div class="oval">
                                    <div class="shape"></div>
                                </div>
                                
                                <i class="icon-bulb"></i>
                            </div>
                        </li>
                        
                        <li class="js-parent">
                            <a href="#">Poradnik</a>
                            
                            <div class="c-nav__submenu">
                                <% include submenu-col %>
    
                                <% include submenu-col %>
                                
                                <div class="oval">
                                    <div class="shape"></div>
                                </div>
                                
                                <i class="icon-blogging"></i>
                            </div>
                        </li>
                        
                        <li class="js-parent">
                            <a href="#">Praca</a>
                            
                            <div class="c-nav__submenu">
                                <% include submenu-col %>
                                
                                <% include submenu-col %>
                                
                                <div class="oval">
                                    <div class="shape"></div>
                                </div>
                                
                                <i class="icon-handshake"></i>
                            </div>
                        </li>
                        
                        <li class="js-parent">
                            <a href="kontakt.html">Kontakt</a>
                            
                            <div class="c-nav__submenu">
                                <% include submenu-col %>

                                <div class="oval">
                                    <div class="shape"></div>
                                </div>
                                
                                <i class="icon-call"></i>
                            </div>
                        </li>
                        
                        <li>
                            <a href="#">Wideokonsultacje</a>
                            
                            <div class="c-nav__submenu">
                                <% include submenu-col %>
    
                                <% include submenu-col %>
                                
                                <div class="oval">
                                    <div class="shape"></div>
                                </div>
                                
                                <i class="icon-rocket"></i>
                            </div>
                        </li>
                    </ul>
                </nav>
                    
                <div class="o-hamburger js-hamburger"></div>
                
            </div>
        </div>

