                <div class="o-phones">
                    <p>
                        <i class="icon-tel"></i>
                        <span class="city">Warszawa</span>
                        <a href="tel:+48222538888" class="num">22 253 88 88</a>
                    </p>
                    
                    <p>
                        <i class="icon-tel"></i>
                        <span class="city">Łódź</span>
                        <a href="tel:+48426444444" class="num">42 644 44 44</a>
                    </p>
                </div>
