
                                <ul>
                                    <li>
                                        <a href="#">Depresja</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">Zaburzenia osobowości<br>Warszawa</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">Zaburzenia psychotyczne<br>Warszawa</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">Zaburzenia seksualne<br>Warszawa</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">Nerwica</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">Zaburzenia odżywiania się<br>Warszawa</a>
                                    </li>
    
                                    <li>
                                        <a href="#">Uzależnienia<br>Warszawa</a>
                                    </li>
                                </ul>
