        <div class="c-top">
            <div class="o-wrap">
                <a href="index.html" class="o-logo">
                    <img src=<%= require("./img/logo-psychomedic.svg") %> width="368" height="64" alt="PsychoMedic">
                </a>
                
                <div class="c-top__days">
                    <span class="big">7</span>
                    <span class="small">dni w tygodniu</span>
                </div>
                
                <% include phones %>
                
                <a href="#" class="o-login">
                    <i class="icon-user"></i>
                    <span>Zaloguj</span>
                </a>
            </div>
        </div>
        
        