$c-black1:      #232425;
$c-black2:      #3c3c3b;

$c-gray1:	    #575756;
$c-gray2:       #a8a7a7;
$c-gray3:       #ededed;
$c-gray4:       #f6f6f6;
$c-gray5:       #8b8b8a;
$c-gray6:       #eeeded;
$c-gray7:       #9d9d9c;
$c-gray8:       #e4e4e3;
$c-gray9:       #e9e9e9;
$c-gray10:      #f0f0f0;
$c-gray11:      #8b8b8b;

$c-violet1:     #76227d;

$c-orange1:     #f8b525;

$c-yellow1:     #f8b525;
