// Fonts

$ptsans:            'PT Sans', sans-serif;
$icomoon:           'icomoon';
$text:		        $ptsans;


// Font weights

$regular:           400;
$bold:              700;


$z-index: (
	top:            10,
	messenger:      50,
	nav:            20,
	hamburger:      30
);


// Default

$base-font-size:	12;
$base:				1170;



// RWD

$slider:               1400;
$tablet:               1024;
$tablet_portrait:       768;
$smartphone:			640;
$smartphone_portrait:	480;